<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
</head>
<body>
<ul id="messages"></ul>
<form id="chatbox">
    <textarea></textarea>
    <input type="submit" value="送信">
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(function () {
        var socket = null
        var msgBox = $("#chatbox textarea")
        var messages = $("#messages")
        $("#chatbox").submit(function(){
            if(!msgBox.val()) return false
            if(!socket){
                return false
            }
            socket.send(msgBox.val())
            msgBox.val("")
            return false
        })
        socket = new WebSocket("ws://localhost:8080/room")
        socket.onclose = function (){
            alert("接続が終了")
        }
        socket.onmessage = function(e){
            messages.append($("<li>").text(e.data))
        }
    })
</script>
</body>
</html>